.flex7 {
    display: flex;
    margin-top: 0%;
}

.kokken {
    width:79%;
    position: relative;
    right: 5em;
}

.flexbob7 {
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 20%;
    display: flex;
}

.bobtekst7 {
    width: 50%;
    font-family: canada-type-gibson,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    transform: rotate(-5deg);
    padding-top: 5%;
    position: relative;
    right: 6em;
    top: 8em;

}

.arrow7 {
    width: 40%;
    height:fit-content;
    position: relative;
    right: 10em;
    top: 18em;
}

.bob7 {
    width: 80%;
    height:fit-content;
    position: relative;
    right: 12em;
    top: 12em;
}

.farvel {
    width: 1%;
    height: 200px;
    position: relative;
    right: 25em;
    top: 30em;
}

.farvellogo {
    display: none;
    width: 300px;
    position: relative;
    right: 1.5em;
    bottom: 1em;
}

.farveltekst {
    width: 300px;
    font-size: 1.3em;
}

.slide-in-right {
    display: block;
	-webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-8 12:59:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  