.flex4 {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.brocolli-bobflex {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 16em;
}

.bob4 {
    width: 40%;
    position: relative;
    height: fit-content;
    transform: rotate(6deg);
    right: 2.9em;
}

.bobtekst4 {
    width: 40%;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    padding-top: 15%;
    position: relative;
    transform: rotate(5deg);
    height: fit-content;
    bottom: 3em;
    right: 4em;
}

.arrow4 {
    width: 20%;
    transform: rotateY(180deg);
    position: relative;
    height: fit-content;
    top: 6em;
    right: 3em;
}

.illuspisesal {
    width: 100%;
}

.spisesal {
    width: 75%;
    position: relative;
    right: 5em;
}

.knaptilvideo {
    width: 100%;
    display: flex;
    padding-left: 3em;
}

.styleb {
    background-color: #0e9749;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 4em;
    height: 4em;
    border-radius: 120px;
    text-align: center;
    font-size: 3em;
    position: relative;
    bottom: 7em;
    left: 0.5em;
}